@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

:root {
    --secondary: #523263;
    --secondary-light: #88629e;

    --page-background: #75467a;
    --content-background: #a87dad;

    --input-border: var(--secondary);
    --input-background: #c19ac6;
    --input-placeholder-text: var(--secondary);

    --input-border-focus: #5c27e0;

    --result-placeholder-text: var(--secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: var(--page-background);
    font-family: 'Roboto Slab', serif;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--content-background);
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    max-width: 1000px;
}

.content > p {
    margin-top: 10px;
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.controls {
    border-top: solid 1px var(--secondary-light);
    margin-top: 20px;
    font-size: 1.4em;
}

.controls div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    border: solid 1px var(--input-border);
    padding: 0 0.25em;
    margin: 0 5px;
    border-radius: 3px;
    background-color: var(--input-background);
}

.input-sizer.stacked {
    padding: 0.5em;
    align-items: stretch;
}

.input-sizer.stacked::after,
.input-sizer.stacked input,
.input-sizer.stacked textarea {
    grid-area: 2/1;
}

.input-sizer::after,
.input-sizer input,
.input-sizer textarea,
.input-sizer select {
    width: auto;
    min-width: 1em;
    grid-area: 1/2;
    font: inherit;
    padding: 0.25em;
    margin: 0;
    resize: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.input-sizer span {
    padding: 0.25em;
}

.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

.input-sizer:focus-within {
    outline: solid 1px var(--input-border-focus);
}

.input-sizer:focus-within > span {
    color: var(--input-border-focus);
}

.input-sizer:focus-within *:focus,
.input-sizer:focus-within *:focus-visible {
    outline: none;
}

.input-sizer > span {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.input-sizer input::placeholder {
    color: var(--input-placeholder-text);
}

.result-placeholder {
    border: solid 1px var(--content-background);
    color: var(--result-placeholder-text);
    padding: 10px 20px;
}

.result {
    border: solid 1px var(--input-border);
    background: #ffffff;
    color: #346b3e;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 500;
}

.hidden {
    display: none;
}