@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

:root {
    --mobile-breakpoint: 940px;

    --gutter: 20px;
    --gutter-half: calc(var(--gutter) / 2);
    --gutter-double: calc(var(--gutter) * 2);

    --secondary: #523263;
    --secondary-light: #88629e;

    --page-background: #75467a;
    --content-background: #b591ba;

    --input-border: var(--secondary);
    --input-background: #c19ac6;
    --input-placeholder-text: var(--secondary);

    --input-border-focus: #5c27e0;

    --result-placeholder-text: var(--secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: var(--page-background);
    font-family: 'Roboto Slab', serif;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--content-background);
    margin: var(--gutter-double);
    padding: var(--gutter-double);
    border-radius: 5px;
    text-align: center;
    max-width: 1000px;
    box-shadow: 0px 0px 4px 0px #5f3064;
}

.content > p {
    margin-top: 1rem;
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.controls {
    border-top: solid 1px var(--secondary-light);
    margin-top: var(--gutter);
    font-size: 1.4em;
}

.controls .inputs {
    margin-top: var(--gutter-double);
}

@media (min-width: 940px) {
    .controls .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.input-group {
    display: flex;
    align-items: center;
}

.desktop-hidden {
    text-align: left;
}

@media (min-width: 940px) {
    .desktop-hidden {
        display: none;
    }
}

@media (max-width: 940px) {
    .mobile-hidden {
        display: none;
    }

    .input-group {
        justify-content: space-between;
    }

    .input-group:not(:first-child) {
        margin-top: var(--gutter-half);
    }
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    border: solid 1px var(--input-border);
    padding: 0 0.25em;
    margin: 0 5px;
    border-radius: 3px;
    background-color: var(--input-background);
}

.input-sizer::after,
.input-sizer input {
    width: auto;
    min-width: 1em;
    grid-area: 1/2;
    font: inherit;
    padding: 0.25em;
    margin: 0;
    resize: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

.input-sizer:focus-within {
    outline: solid 1px var(--input-border-focus);
}

.input-sizer:focus-within > span {
    color: var(--input-border-focus);
}

.input-sizer:focus-within *:focus,
.input-sizer:focus-within *:focus-visible {
    outline: none;
}

.input-sizer input::placeholder {
    color: var(--input-placeholder-text);
}

.result-placeholder {
    border: solid 2px var(--content-background);
    color: var(--result-placeholder-text);
    margin-top: var(--gutter-double);
    padding: var(--gutter-half) var(--gutter);
}

.result {
    border: solid 2px #396332;
    background: #ffffff;
    color: #346b3e;
    margin-top: var(--gutter-double);
    padding: var(--gutter-half) var(--gutter);
    border-radius: 4px;
    font-weight: 500;
}

.hidden {
    display: none;
}
